*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

/*自定义样式  - 开始*/

/*向下翻页的按钮*/
.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 5%;
    left: 50%;
    right: auto;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
}
/*-音乐样式-*/
#mp3{
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.5);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    border:3px rgba(238, 238, 238, 0.38) solid;
    animation: mp3but 1s  infinite;
    animation-timing-function: linear;

}
@keyframes mp3but {
    0%{transform:  rotateZ(0deg)}
    100%{transform:  rotateZ(360deg)}

}
#mp3 img{
    width: 10px;
}

/*-音乐样式-*/


/* .s1*/



.s1 .header img{
    position: absolute;
}

.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 120px;
    left: 50px;
}

.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
}
.s1 .header img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 180px;
}
.header .swing{
    animation-iteration-count:infinite;
    transform-origin:center;

}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 210px;
}
.s1 .header img:nth-of-type(5){
    left: 50%;
    top: 25%;
    width: 60%;
    margin-left: -30%;
}

.s1 .main{
    position: absolute;
    top: 32%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 68%;
    margin-bottom: 20px;
    animation: pulse infinite;
}
.s1 .main .img9{
    background-image: url(../img/9.png);
    background-size:contain;
    width: 210px;
    height: 24.5px;
    margin: auto;
}

.s1 .footer{
    color: #08f5cb;
    width: 100%;
    padding-top: 80px;
}
.s1 .footer h2{
    font-size: 20px;
    padding-top: 420px;
    margin-bottom: 10px;
}
.s1 .footer p:nth-of-type(1){
   font-size:16px;
}


/*s2样式*/

.s2 .main{
   position: relative;
}
.s2 .main img{
    width: 80%;
    text-align: center;
    
}
.s2 .text{
    position: absolute;
    width: 70%;
    top: 25px;
    left: 60px;
}
.s2 .text p{
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
   
}
.s2 .main span{
    width: 130px;
    position: absolute;
    bottom: -9px;
    left: 135px;
    background-color: aquamarine;
    color: #08001d;
    border-radius: 20px;
    padding: 8px 0;
    font-size: 16px;
    background: linear-gradient(to right, #00e7f9, #00ff96);
}
/*-s3样式-*/
.s3 .pic img{
    width: 20%;
    position: absolute;
}
.s3 .pic img:nth-of-type(1){
    left: 20%;
    top: 17%;
}
.s3 .pic img:nth-of-type(2) {
    right:20%;
    top:17%;
}
.s3 .pic img:nth-of-type(3){
    top: 35%;
    left: 5%;
}
.s3 .pic img:nth-of-type(4){
    top: 35%;
    right: 5%;
}
.s3 .pic img:nth-of-type(5){
    bottom: 38%;
    right: 20%;
}
.s3 .pic img:nth-of-type(6){
    bottom: 38%;
    left: 20%;
}
.s3 .pic img:nth-of-type(7){
    display: block;
    left: 28%;
    top: 27%;

}
.s3 .main .text p{
    position: absolute;
    font-size: 25px;
    width: 20%;
}
.s3 .main .text p:nth-of-type(1){
     left: 20%;
     top: 20%;
 }
.s3 .main .text p:nth-of-type(2){
    right:20%;
    top:20%;
}
.s3 .main .text p:nth-of-type(3){
    top: 38%;
    left: 5%;
}
.s3 .main .text p:nth-of-type(4){
    top: 38%;
    right: 5%;
}
.s3 .main .text p:nth-of-type(5){
    bottom: 41%;
    right: 20%;
}
.s3 .main .text p:nth-of-type(6){
    bottom: 41%;
   left: 20%;
}
.s3 .main .text p:nth-of-type(7){
    display: block;
    left: 31%;
    width: 40%;
    top: 35%;
    font-size: 40px;
}
.s3 .text2{
    position: absolute;
    bottom: 20%;
    left: 15%;
    width: 70%;
}
.s3 .text2::before{
    content: "";
    width: 5px;
    height: 40px;
    background: #01f0d0;
    display: inline-block;
    position: absolute;
    left: -15px;
    margin-top: 3px;
}
.s3 .pulse,.s3 .tada{
    animation-iteration-count:infinite;
    transform-origin:center;
}

/*-s3样式-*/
/*-s4样式-*/
.imgA{
    width: 90%;
    background-size: cover;
}
.s4{
    position: relative;
}
.s4 .mains .text{
    position: absolute;
    left: 0;
    top: 20%;
}
.s4 .year{
    display: block;
    clear: both;
    content: " ";
}
.s4 .year p:nth-of-type(1){
    margin-right:90px ;
    margin-left:50px;
}
.s4 .year p{
    position: relative;
    float: left;
}
.s4 .year p img{
   width: 65%;
}
.s4 .year p small{
    position: absolute;
    left: 40px;
    width: 80px;
    font-size: 20px;
    top: 7px;
    font-weight: 600;

}
.s4 ul:nth-of-type(1){
    list-style: none;
    position: absolute;
    left: 0;
    top: 50%;
}
.col{
    color: #075e93;
}
.s4 ul li:nth-of-type(1){
    margin-top: 20px;
    position: relative;
}
.s4 ul li:nth-of-type(1) span:nth-of-type(1){
    margin-left: -30px;
}
.s4 ul li:nth-of-type(1) img{
    position: absolute;
    left: 35px;
    width: 8%;

}
.s4 ul li:nth-of-type(2) img{
    width: 250px;
    margin-left: 38px;
    height: 18px;
    margin-top: 10px;
    opacity: 1;
    animation: op 3s;

}
@keyframes op {
    0%{opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.s4 ul li:nth-of-type(2){
    position: relative;
}
.s4 ul li:nth-of-type(2) span{
    position: absolute;
    right: -45px;
    top: 7px;
}
.s4 ul li:nth-of-type(3) img{
    width: 130px;
    height: 18px;
}
.cle{
    content: "";
    display: block;
    clear: both;
    width: 100%;
  
    position: absolute;
    top: 120px;
}
.cle2{
    content: "";
    display: block;
    clear: both;
    width: 100%;
    position: absolute;
    top: 230px;
    }
.footertext{
    position: absolute;
    top: 890%;
    font-size: 14px;
    width: 290px;
    margin-left: 40px
    }

/*-s4样式-*/
/*-s5样式-*/
.s5 .conter{
    text-align: left;
    padding-top: 60px;
    position: relative;
}
.s5 .conter .conter-main,.conter-main2,.conter-main3,.conter-main4{
    width: 49%;

}
.conter-main2{
    position: absolute;
    right: 1%;
    top: 23%;
}
.conter-main3{
    position: absolute;
    left: 0;
    top: 105%;
}
.conter-main4{
    position: absolute;
    right: 1%;
    top: 105%;
}
.s5 .conter ul{
    position: relative;
    width: 100%;
    list-style: none;
    height:200px;

}
.s5 .conter ul li:nth-of-type(1) img{
    width: 80%;
}
.s5 .conter ul li:nth-of-type(1){
    width: 100%;
    position: absolute;
    left: 11%;
}
.s5 .conter ul li:nth-of-type(2){
    position: absolute;
    left: 9%;

}
.s5 .conter ul li:nth-of-type(2) img {
    width: 88%;
}
.s5 .conter ul li:nth-of-type(3){
    position: absolute;
    left: 20%;
    top: 64%;
    font-size: 15px;
}
.s5 .conter ul li:nth-of-type(4){
    position: absolute;
    left: 19%;
    top:76%;
    font-family: 'microsoft yahei',微软雅黑, 宋体, 新宋体,sans-serif;
    font-size: 18px;
    color: #000;
    background-image:-webkit-linear-gradient(180deg, #0ee2fa, #00f99c);
    background-image:linear-gradient(180deg, #0ee2fa, #00f99c);
    border-radius: 25px;
    width: 60%;
    text-align: center;
}
.s5 .conter .pulse{
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

/*-s5样式-*/
/*-s6样式-*/
.s6{
    position: relative;
}
.s6 .picA{
    position: absolute;
    text-align: left;
    top: 20%;
    left: 13%;
}
.s6 .picA img:nth-of-type(1){
    height: 420px;
}
.s6 .picA img:nth-of-type(2){
    width: 60%;
  display: block;
    margin-left: -14px;
    margin-top: -435px;
}
.s6 .picA img:nth-of-type(3){
    position: absolute;
    width: 60%;
    left: -30%;
    top: 800%;

}
.s6 .picA img:nth-of-type(4){
    position: absolute;
    width: 60%;
    left: -30%;
    top: 1600%;

}
.s6 .text3{
    width: 100%;
    position: absolute;
    left: 23%;
    top: 19%;
    margin-left: -10px;
}
.s6 .text3 .text3-main{
    width: 100%;
}
.s6 .text3 .text3-main img:nth-of-type(1){
    display: block;
    margin-left: -2%;
    width: 70%;
    background-size: cover;

}
.s6 .text3 .text3-main p{
    position: relative;
}
.s6 .text3 .text3-main p span{
    position: absolute;
    color: #000;
    left: 0;
    top: 8%;
}
.s6 .text3 .text3-main ul{
    font-size: 15px;
    position: relative;
}
.s6 .text3 .text3-main ul li span:nth-of-type(1){
    position: absolute;
    left: 0;
    top: 16%;
}
.s6 .text3 .text3-main ul li span:nth-of-type(2){
    position: absolute;
    left: 0;
    top: 35%;
}
.s6 .text3 .text3-main ul li span:nth-of-type(3){
    position: absolute;
    left: 0;
    top: 53%;
}
/*-s6样式-*/